
<!doctype html>
<html>
    <head>
        <title>Student Grade Prediction</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
      <style>
        .parameters {
          font-family: Roboto;
          font-size: 25px;
        }
      </style>
    </head>
    <body >
      {% include 'nav.html' %}
      
        <div class="login text-center">
            <h1 class="mt-4 mb-4 display-2">Predict the Grade of Student</h1>
            <h3 class="mt-2 mb-4 display-5"> Enter the following values to predict: </h3>
        
        <form action="{{ url_for('predict')}}"method="post">
          <div class="mb-3">
          
          <label class='parameters'> Select school </label> <br>
          <label id='GP'> GP
            <input id='GP' type="radio" name="school" value=1>
          </label>
          <label id='MS'> MS
          <input id='MS'type="radio" name="school" value=0>
            </label>
          <br><hr>
          
          <label class='parameters'> Gender </label>  <br>
          <label id='Male'> Male
            <input id='Male' type="radio" name="gender" value=0>
          </label>
          <label id='Female'> Female
          <input id='Female'type="radio" name="gender" value=1>
            </label>
          <br><hr>
          
          <label class='parameters'> Age </label>  <br>
          <input type="text" name="Age" placeholder="Age" required="required"/>
          <br><hr>     

          <label class='parameters'> Address </label> <br>            
          <label id='U'> Urban
            <input id='U' type="radio" name="address" value=1>
          </label>
          <label id='R'> Rural
          <input id='R'type="radio" name="address" value=0>
            </label>
          <br><hr> 

            <label class='parameters'> Family Size </label> <br>
          <label id='GT3'> Greater than 3
            <input id='GT3' type="radio" name="Family Size" value=1>
          </label>
            <br>
          <label id='LE3'> Less than 3
          <input id='LE3'type="radio" name="Family Size" value=0>
            </label>
          <br><hr>

          <label class='parameters'> Parent's Cohabitation Status </label> <br>
          <label id='T'> Living Together
            <input id='T' type="radio" name="Parent Status" value=1>
          </label>
            <br>
          <label id='A'> Living Apart
          <input id='A'type="radio" name="Parent Status" value=0>
            </label>
          <br><hr>

          <label class='parameters'> Mother's Education </label> <br>
          <label id='none'> None
            <input id='none' type="radio" name="Medu" value=0>
          </label>
            <br>
          <label id='primary'> Primary Education (4th Grade)
          <input id='primary'type="radio" name="Medu" value=1>
            </label>
            <br>
          <label id='5th_9th'> 5th to 9th
          <input id='5th_9th'type="radio" name="Medu" value=2>
            </label>
            <br>
          <label id='secondary'> Secondary Education
          <input id='secondary'type="radio" name="Medu" value=3>
            </label>
            <br>
          <label id='higher'> Higher Education
          <input id='higher'type="radio" name="Medu" value=4>
            </label>
          <br><hr>

            <label class='parameters'> Father's Education </label> <br>
          <label id='none'> None
            <input id='none' type="radio" name="Fedu" value=0>
          </label>
            <br>
          <label id='primary'> Primary Education (4th Grade)
          <input id='primary'type="radio" name="Fedu" value=1>
            </label>
            <br>
          <label id='5th_9th'> 5th to 9th
          <input id='5th_9th'type="radio" name="Fedu" value=2>
            </label>
            <br>
          <label id='secondary'> Secondary Education
          <input id='secondary'type="radio" name="Fedu" value=3>
            </label>
            <br>
          <label id='higher'> Higher Education
          <input id='higher'type="radio" name="Fedu" value=4>
            </label>
          <br><hr>

            <label class='parameters'> Mother's Job </label> <br>
          <label id='at_home'> At home
            <input id='at_home' type="radio" name="Mjob" value=0>
          </label>
            <br>
          <label id='others'> Others
          <input id='others'type="radio" name="Mjob" value=1>
            </label>
            <br>
          <label id='services'> Services
          <input id='services'type="radio" name="Mjob" value=2>
            </label>
            <br>
          <label id='teacher'> Teacher
          <input id='teacher'type="radio" name="Mjob" value=3>
            </label>
            <br>
          <label id='health'> Health
          <input id='health'type="radio" name="Mjob" value=4>
            </label>
          <br><hr>

            <label class='parameters'> Father's Job </label> <br>
          <label id='at_home'> At home
            <input id='at_home' type="radio" name="Fjob" value=0>
          </label>
            <br>
          <label id='others'> Others
          <input id='others'type="radio" name="Fjob" value=1>
            </label>
            <br>
          <label id='services'> Services
          <input id='services'type="radio" name="Fjob" value=2>
            </label>
            <br>
          <label id='teacher'> Teacher
          <input id='teacher'type="radio" name="Fjob" value=3>
            </label>
            <br>
          <label id='health'> Health
          <input id='health'type="radio" name="Fjob" value=4>
            </label>
          <br><hr>

            <label class='parameters'> Reason to choose this school </label> <br>
          <label id='other'> Other
            <input id='other' type="radio" name="reason" value=0>
          </label>
            <br>
          <label id='course'> Course
          <input id='course'type="radio" name="reason" value=1>
            </label>
            <br>
          <label id='repo'> Reputation of the school
          <input id='repo'type="radio" name="reason" value=2>
            </label>
            <br>
          <label id='home'> Close to home
          <input id='home'type="radio" name="reason" value=3>
            </label>
          <br><hr>

            <label class='parameters'> Guardian </label> <br>
          <label id='mother'> Mother
            <input id='mother' type="radio" name="Guardian" value=1>
          </label>
            <br>
          <label id='father'> Father
          <input id='father'type="radio" name="Guardian" value=0>
            </label>
          <br><hr>

            <label class='parameters'> Travel Time </label> <br>
          <label id='15min'> Upto 15 min
            <input id='15min' type="radio" name="traveltime" value=1>
          </label>
            <br>
          <label id='15_30min'> 15-30 min
          <input id='15_30min'type="radio" name="traveltime" value=2>
            </label>
            <br>
          <label id='30_60min'> 30 min to 1 hour
          <input id='30_60min'type="radio" name="traveltime" value=3>
            </label>
            <br>
          <label id='1hours'> More than 1 hour
          <input id='1hours'type="radio" name="traveltime" value=4>
            </label>
          <br><hr>

          <label class='parameters'> Weekly Study Time </label> <br>
          <label id='2hours'> 2 Hours
            <input id='2hours' type="radio" name="studytime" value=1>
          </label>
            <br>
          <label id='2_5hours'> 2 - 5 Hours
          <input id='2_5hours'type="radio" name="studytime" value=2>
            </label>
            <br>
          <label id='5_10hours'> 5 - 10 Hours
          <input id='5_10hours'type="radio" name="studytime" value=3>
            </label>
            <br>
          <label id='10hours'> More than 10 Hours
          <input id='10hours'type="radio" name="studytime" value=4>
            </label>
          <br><hr>

            <label class='parameters'> Number of Classes Failed </label> <br>
          <label id='0fail'> No classes failed
            <input id='0fail' type="radio" name="failures" value=0>
          </label>
            <br>
          <label id='1fail'> 1 failed class
          <input id='1fail'type="radio" name="failures" value=1>
            </label>
            <br>
          <label id='2fail'> 2 failed class
          <input id='2fail'type="radio" name="failures" value=2>
            </label>
            <br>
          <label id='3fail'> 3 failed class
          <input id='3fail'type="radio" name="failures" value=3>
            </label>
          <br><hr>

            <label class='parameters'> Extra Educational Support </label> <br>
          <label id='yes'> Yes
            <input id='yes' type="radio" name="schoolsup" value=1>
          </label>
            <br>
          <label id='no'> No
          <input id='no'type="radio" name="schoolsup" value=0>
            </label>
          <br><hr>

            <label class='parameters'> Family Educational Support </label> <br>
          <label id='yes'> Yes
            <input id='yes' type="radio" name="famsup" value=1>
          </label>
            <br>
          <label id='no'> No
          <input id='no'type="radio" name="famsup" value=0>
            </label>
          <br><hr>

            <label class='parameters'> Extra Paid Classes within the Course Subject</label> <br>
          <label id='yes_p'> Yes
            <input id='yes_p' type="radio" name="paid" value=1>
          </label>
            <br>
          <label id='no_p'> No
          <input id='no_p'type="radio" name="paid" value=0>
            </label>
          <br><hr>

            <label class='parameters'> Extra-curricular Activities</label> <br>
          <label id='yes_a'> Yes
            <input id='yes_a' type="radio" name="activities" value=1>
          </label>
            <br>
          <label id='no_a'> No
          <input id='no_a'type="radio" name="activities" value=0>
            </label>
          <br><hr>

            <label class='parameters'> Attended Nursery School</label> <br>
          <label id='yes_n'> Yes
            <input id='yes_n' type="radio" name="nursery" value=1>
          </label>
            <br>
          <label id='no_n'> No
          <input id='no_n'type="radio" name="nursery" value=0>
            </label>
          <br><hr>

            <label class='parameters'> Wants to take Higher Education</label> <br>
          <label id='yes_h'> Yes
            <input id='yes_h' type="radio" name="higher" value=1>
          </label>
            <br>
          <label id='no_h'> No
          <input id='no_h'type="radio" name="higher" value=0>
            </label>
          <br><hr>

            <label class='parameters'> Internet Access at Home</label> <br>
          <label id='yes_i'> Yes
            <input id='yes_i' type="radio" name="internet" value=1>
          </label>
            <br>
          <label id='no_i'> No
          <input id='no_i'type="radio" name="internet" value=0>
            </label>
          <br><hr>

            <label class='parameters'> In a Romantic Relationship</label> <br>
          <label id='yes_r'> Yes
            <input id='yes_r' type="radio" name="romantic" value=1>
          </label>
            <br>
          <label id='no_r'> No
          <input id='no_r'type="radio" name="romantic" value=0>
            </label>
          <br><hr>

            <label class='parameters'> Quality of Family Relationships </label> <br>
          <label id='verybad'> Very Bad
            <input id='verybad' type="radio" name="famrel" value=1>
          </label>
            <br>
          <label id='bad'> Bad
          <input id='bad'type="radio" name="famrel" value=2>
            </label>
            <br>
          <label id='good'> Good
          <input id='good'type="radio" name="famrel" value=3>
            </label>
            <br>
          <label id='verygood'> Very Good
          <input id='verygood'type="radio" name="famrel" value=4>
            </label>
            <br>
          <label id='excellent'> Excellent
          <input id='excellent'type="radio" name="famrel" value=5>
            </label>
          <br><hr>

            <label class='parameters'> Free time after school </label> <br>
          <label id='verylow'> Very Low
            <input id='verylow' type="radio" name="freetime" value=1>
          </label>
            <br>
          <label id='low'> Low
          <input id='low'type="radio" name="freetime" value=2>
            </label>
            <br>
          <label id='medium'> Medium
          <input id='medium'type="radio" name="freetime" value=3>
            </label>
            <br>
          <label id='high'> High
          <input id='high'type="radio" name="freetime" value=4>
            </label>
            <br>
          <label id='veryhigh'> Very High
          <input id='veryhigh'type="radio" name="freetime" value=5>
            </label>
          <br><hr>

            <label class='parameters'> Frequency of going out with friends </label> <br>
          <label id='verylow'> Very Low
            <input id='verylow' type="radio" name="goout" value=1>
          </label>
            <br>
          <label id='low'> Low
          <input id='low'type="radio" name="goout" value=2>
            </label>
            <br>
          <label id='medium'> Medium
          <input id='medium'type="radio" name="goout" value=3>
            </label>
            <br>
          <label id='high'> High
          <input id='high'type="radio" name="goout" value=4>
            </label>
            <br>
          <label id='veryhigh'> Very High
          <input id='veryhigh'type="radio" name="goout" value=5>
            </label>
          <br><hr>

            <label class='parameters'> Workday Alcohol Consumption</label> <br>
          <label id='verylow'> Very Low
            <input id='verylow' type="radio" name="Dalc" value=1>
          </label>
            <br>
          <label id='low'> Low
          <input id='low'type="radio" name="Dalc" value=2>
            </label>
            <br>
          <label id='medium'> Medium
          <input id='medium'type="radio" name="Dalc" value=3>
            </label>
            <br>
          <label id='high'> High
          <input id='high'type="radio" name="Dalc" value=4>
            </label>
            <br>
          <label id='veryhigh'> Very High
          <input id='veryhigh'type="radio" name="Dalc" value=5>
            </label>
          <br><hr>

            <label class='parameters'> Weekend Alcohol Consumption</label> <br>
          <label id='verylow'> Very Low
            <input id='verylow' type="radio" name="Walc" value=1>
          </label>
            <br>
          <label id='low'> Low
          <input id='low'type="radio" name="Walc" value=2>
            </label>
            <br>
          <label id='medium'> Medium
          <input id='medium'type="radio" name="Walc" value=3>
            </label>
            <br>
          <label id='high'> High
          <input id='high'type="radio" name="Walc" value=4>
            </label>
            <br>
          <label id='veryhigh'> Very High
          <input id='veryhigh'type="radio" name="Walc" value=5>
            </label>
          <br><hr>

            <label class='parameters'> Health Status </label> <br>
          <label id='verylow'> Very Bad
            <input id='verylow' type="radio" name="health" value=1>
          </label>
            <br>
          <label id='low'> Bad
          <input id='low'type="radio" name="health" value=2>
            </label>
            <br>
          <label id='medium'> Normal
          <input id='medium'type="radio" name="health" value=3>
            </label>
            <br>
          <label id='high'> Good
          <input id='high'type="radio" name="health" value=4>
            </label>
            <br>
          <label id='veryhigh'> Very Good
          <input id='veryhigh'type="radio" name="health" value=5>
            </label>
          <br><hr>

            <label class='parameters'>Number of Days Absent</label> <br>
          <input type="text" name="absent" placeholder="Absences" required="required"/>
          <br><hr>  
            <label class='parameters'>Grade in Exam 1 (0-20)</label> <br>
          <input type="text" name="G1" placeholder="Grade in Exam 1" required="required"/>
          <br><hr> 
            <label class='parameters'>Grade in Exam 2 (0-20)</label> <br>
          <input type="text" name="G2" placeholder="Grade in Exam 2" required="required"/>
          <br><hr>    
          </div>

          

          


          
        
            <button type="submit" class="btn btn-success btn-lg ">Predict</button>

          <br>
          
          <div class='parameters login text-center'>
          {{prediction_text}}
          </div>
        
        </form>
              
    </div>
     {% include 'footer.html' %}
    </body>
</html>
