<!DOCTYPE html>
<html>
  <head>
    <title>Oasis Help Desk</title> 
    <link rel="icon" type="image/png" href="https://TicketClassification1.sakshii2004.repl.co/static/icon.png">
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/012c8933fb.js" crossorigin="anonymous"></script>
  </head>
  <body>    
    {% include 'support_navbar.html' %}

    {% include 'support_sidebar.html' %}

    <div class="main_2">
      <img class="intro_pic_support" src="https://TicketClassification1.sakshii2004.repl.co/static/support_intro.png" alt="welcome picture support">


    </div>


      </div>
    </div>

  </body>

</html>